/* Custom properties */
:root {
  --border: 1.5px solid rgb(235, 235, 235);
  --box-shadow: 0 0px 0px 2px rgba(240, 240, 240, 0.3);
  --box-shadow-light: 0 0 3px rgba(52, 58, 64, 0.08);
  --bg-image: url(../img/bg01.jpg);
}

body {
  border-spacing: 0;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
}

.menu {
  border-right: var(--border);
  width: 24%;
  height: 100%;
  box-shadow: var(--box-shadow);
}

.dash-body {
  width: 76%;
  height: 100%;
}

.menu-container {
  width: 100%;
  border-spacing: 0;
}

.profile-title,
.profile-subtitle,
.menu-items1,
.header-heading,
.header-sub-heading {
  margin: 0;
  text-align: left;
}

.profile-title,
.profile-subtitle {
  padding-left: 8%;
}

.profile-title {
  font-weight: 500;
  color: #161c2d;
  font-size: 22px;
}

.profile-subtitle {
  font-weight: 300;
  color: #8492a6;
  font-size: 15px;
}

.logout-btn {
  margin-top: 20px;
  width: 85%;
}

.profile-container {
  border: var(--border);
  border-radius: 6px;
  padding-top: 12%;
  padding-bottom: 12%;
  box-shadow: var(--box-shadow-light);
  text-align: center;
}

.menu-items1 {
  font-weight: 500;
  padding: 0;
  margin: 0;
  color: #161c2def;
}

.menu-td1 {
  padding-right: 10px;
}

.menu-button:hover {
  cursor: pointer;
  background-color: #396df01f;
}

.menu-active {
  background-color: #27272710;
}

.header-container {
  margin-top: 25px;
  margin-bottom: 5%;
  background-image: var(--bg-image);
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;

