/* Add comments to explain the code */

body {
  /* Set margin to 2% on all sides */
  margin: 2%;
  /* Set background color */
  background-color: #F6F7FA;
}

.container {
  /* Set container width */
  width: 45%;
  /* Set container background color */
  background-color: white;
  /* Set border style */
  border: 1px solid rgb(235, 235, 235);
  /* Set border radius */
  border-radius: 8px;
  /* Remove margin and padding */
  margin: 0;
  padding: 0;
  /* Set box shadow */
  box-shadow: 0 3px 5px 0 rgba(240, 240, 240, 0.3);
  /* Add animation for transition */
  animation: transitionIn-Y-over 0.5s;
}

/* Center align text */
td {
  text-align: center;
}

/* Style header text */
.header-text {
  font-weight: 600;
  font-size: 30px;
  letter-spacing: -1px;
  margin-bottom: 10px;
}

/* Style sub-text */
.sub-text {
  font-size: 15px;
  color: rgb(138, 138, 138);
}

/* Style form labels */
.form-label {
  color: rgb(44, 44, 44);
  text-align: left;
  font-size: 14px;
}

/* Style label td */
.label-td {
  text-align: left;
  padding-top: 10px;
}

/* Style hover links */
.hover-link1 {
  font-weight: bold;
}

/* Add opacity transition on hover
