/* ---------------------------------------------------------------------- */
/*  Theme 3
/* ---------------------------------------------------------------------- */

@import "modules/variables";

// COLORS
$primary-color: #1FBBA6;
$secondary-color: #485058;
$tertiary-color: #788290;
$quaternary-color: #646E7A;
$quinary-color: #999;
$app-background: #F0F3F4;
$header-background: $secondary-color;
$header-text-color: $white;
$header-elements-color: $primary-color;
$collapse-background: $secondary-color;
$collapse-text-color: $white;
$collapse-elements-color: $primary-color;
$sidebar-background: $tertiary-color;
$sidebar-text-color: $white;
$sidebar-elements-color: $primary-color;
$nav-background: $quaternary-color;
$nav-text-color: $white;
$nav-elements-color: #B4B4B4;
$scrollBar-color: $quinary-color;

// NAV HEADER STYLES
header {
    .navbar-header {
        background: $header-background !important;
        border-color: $header-background !important;

        .sidebar-toggler, .sidebar-mobile-toggler {
            color: $header-elements-color !important;
        }

        .navbar-brand {
            color: $header-text-color !important;
        }

        .menu-toggler {
            color: $header-elements-color !important;
        }
    }

    .navbar-collapse {
        background: $collapse-background !important;
        border-color: $collapse-background !important;

        .navbar-right {
            > li {
                > a {
                    color: $collapse-text-color;

                    i {
                        color: $collapse-elements-color !important;
                    }

                    &:hover, &:focus, &:active {
                        background: darken($collapse-background,8%) !important;
                    }
                }

                &.open > a {
                    background: darken($collapse-background,8%) !important;
                }
            }
        }
    }
}

// SIDEBAR STYLES
#sidebar {
    background: $sidebar-background !important;

    nav {
        background: $nav-background !important;

        > ul {
            > li {
                a {
                    &:active:focus {
                        background: darken($nav-background, 5%) !important;
                    }
                }

                > a {
                    .item-media {
                        > i {
                            color: $nav-elements-color !important;
                        }

                        .fa-stack {
                            .fa-square {
                                color: $nav-elements-color !important;
                            }
                        }
                    }

                    .item-inner {
                        color: $nav-text-color !important;
                    }
                }

                &.hover {
                    background: darken($nav-background, 5%) !important;
                }

                &.open {
                    background: darken($nav-background, 5%) !important;
                }

                .no-touch & {
                    &:hover {
                        background: darken($nav-background, 5%) !important;
                    }
                }

                &.active {
                    background: $primary-color !important;

                    > a {
                        &:active:focus {
                            background: darken($primary-color, 5%) !important;
                        }

                        .item-inner {
                            color: $white !important;
                        }

                        .item-media {
                            > i {
                                color: $white !important;
                            }

                            .fa-stack {
                                .fa-square {
                                    color: $primary-color !important;
                                }
                            }
                        }
                    }

                    .sub-menu {
                        background: darken($nav-background, 3%);
                    }
                }
            }

            .sub-menu {
                background: darken($nav-background, 3%);
            }
        }
    }
}

// SCROLLBAR STYLES
.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
    background-color: $scrollBar-color !important;
}

// FOOTER STYLES
#app > footer {
    background: $header-background !important;
    border-color: $header-background !important;
    color: $header-text-color;
}

// SELECTION STYLES
::-moz-selection {
    background: $primary-color;
    text-shadow: none;
    color: $white;
}

::selection {
    background: $primary-color;
    text-shadow: none;
    color: $white;
}

// BODY STYLES
body {
    background: $app-background;
}

.app-content {
    @media (max-width: $screen-sm-max) {
        background: $app-background;
    }
}

// OFF-SIDEBAR STYLES
#off-sidebar {
    background: $sidebar-background !important;
    border-color: $sidebar-background !important;

    .sidebar-back {
        color: $sidebar-elements-color;
    }

    .tab-content {
        background: $sidebar-background !important;
    }

    .nav-tabs.nav-justified {
        > li {
            >
