/* Hide helper classes */
.module-hide {
  visibility: hidden;
}

/* Table styles */
table {
  border: 0 !important;
}

/* Module content styles */
.module-content {
  /* Set minimum width for images */
  img {
    min-width: 70px;
  }

  /* Set font size for h2 elements */
  h2 {
    font-size: 30px;
  }
}
