:root {
  --light-gray: #DADADA;
  --light-blue: #00BDCC;
  --dark-gray: #2c2f3b;
  --light-background: #F8F8F8;
  --dark-background: #F1F1F1;
  --border-color: #DADADA;
}

/* General rules */
html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

*,
::after,
::before {
  box-sizing: border-box;
}

body {
  background: var(--light-background);
}

/* Selection rules */
::-moz-selection {
  background: #1FBBA6;
  text-shadow: none;
  color: #ffffff;
}

::selection {
  background: #1FBBA6;
  text-shadow: none;
  color: #ffffff;
}

/* Header rules */
header {
  .navbar-header {
    background: var(--light-gray) !important;
    border-right-color: var(--border-color) !important;
    border-bottom-color: var(--border-color) !important;
  }

  .navbar-header .sidebar-toggler,
  header .navbar-header .sidebar-mobile-toggler {
    color: var(--light-blue) !important;
  }

  .navbar-header .navbar-brand {
    color: var(--dark-gray) !important;
  }

  .navbar-header .menu-toggler {
    color: var(--light-blue) !important;
  }

  .navbar-collapse {
    background: var(--dark-background) !important;
    border-bottom-color: var(--border-color) !important;
    box-shadow: none !important;
  }

  .navbar-collapse .navbar-right > li > a {
    color: var(--dark-gray);
  }

  .navbar-collapse .navbar-right > li > a i {
    color: var(--light-blue) !important;
  }

  .navbar-collapse .navbar-right > li > a:hover,
  header .navbar-collapse .navbar-right > li > a:focus,
  header .navbar-collapse .navbar-right > li > a:active {
    background: #dddddd !important;
  }

  .navbar-collapse .navbar-right > li.open > a {
    background: #dddddd !important;
  }

  .navbar-collapse .navbar-right .dot-badge {
    border-color: var(--dark-background);
  }
}

@media (max-width: 991px) {
  header .navbar-collapse {
    background: var(--light-gray) !important;
    box-shadow: none;
  }

  header .navbar-collapse .navbar-right > li.open {
    background: lightgray !important;
  }

  header .navbar-collapse .navbar-right > li:hover,
  header .navbar-collapse .navbar-right > li:active,
  header .navbar-collapse .navbar-right > li:focus {
    background: lightgray !important;
  }

  header .navbar-collapse .navbar-right > li > a {
    color: var(--dark-gray);
  }

  header .navbar-collapse .navbar-right > li > a i {
    color: var(--light-blue) !important;
  }

  header .navbar-collapse .navbar-right > li > a:hover {
    background: lightgray !important;
  }

  header .navbar-collapse .navbar-right > li > a:focus,
  header .navbar-collapse .navbar-right > li > a:active {
    background: none !important;
  }

  header .navbar-collapse .navbar-right > li.open > a {
    background: lightgray !important;
  }
}

@media (max-width: 991px) and (max-width: 767px) {
  header .navbar-collapse .navbar-right > li {
    border-bottom: 1px solid var(--border-color) !important;
  }
}

@media (max-width: 991px) {
  header .navbar-collapse .navbar-right .dot-badge {
    border-color: var(--light-gray);
  }
}

@media (max-width: 767px) {
  header .navbar-collapse {
    background: var(--border-color) !important;
  }

  header .navbar-collapse .close-handle {
    background: var(--light-gray);
  }

  header .navbar-collapse .close-handle .arrow-left,
  header .navbar-collapse .close-handle .arrow-right {
    background-color: var(--light-blue);
  }

  header .navbar-collapse .navbar-right .current-user a i {
    color: #ffffff !important;
    background: rgba(0, 189, 204, 0.3);
  }
}

/* Sidebar rules */
#sidebar {
  background: var(--light-gray) !important;
}

#sidebar:before,
#sidebar nav {
  border-right-color: var(--light-gray) !important;
}

#sidebar nav .navbar-title {
  color: var(--dark-gray);
}

#sidebar nav > ul {
  background: var(--dark-background) !important;
  border-bottom-color: var(--
