/* ---------------------------------------------------------------------- */
/*  Forms
/* ---------------------------------------------------------------------- */

/* Reset form elements to their default styles */
.form-reset {
  all: unset;
  border: none;
  margin: 0;
  padding: 0;
}

/* Style required form elements */
.form-required:not(:valid) {
  border-color: red;
}

/* Style disabled form elements */
.form-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Style focused form elements */
.form-focused {
  box-shadow: 0 0 2px 1px var(--primary-color);
}

fieldset {
  background: white;
  border: 1px solid #e6e8e8;
  border-radius: 5px;
  margin: 20px 0 20px 0;
  padding: 25px;
  position: relative;

  .form-group {
    margin-left: 0;
    margin-right: 0;
  }

  legend {
    background: inherit;
    font-family: var(--secondary-font-family);
    color: var(--primary-color);
    font-size: 15px;
    left: 10px;
    padding: 0 10px;
    position: absolute;
    top: -12px;
    font-weight: 400;
    width: auto !important;
    border: none !important;
  }
}

/* Placeholder styles for different browsers */
.form-control::-moz-placeholder {
  color: var(--text-light);
  opacity: 1;
}

.form-control:-ms-input-placeholder {
  color: var(--text-light);
  opacity: 1;
}

.form-control::-webkit-input-placeholder {
  color: var(--text-light);
  opacity: 1;
}

/* Style form input elements */
textarea,
select,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  appearance: none;
  background-color: white;
  border: 1px solid var(--border-default);
  border-radius: 0 0 0 0 !important;
  color: var(--text-dark);
  font-family: inherit;
  font-size: 14px;
  line-height: 1.2;
  padding: 5px 4px;
  transition: border-color 0.1s;
  box-shadow: none !important;

  &:hover {
    border-color: darken(var(--border-default), 10%);
  }

  &:focus {
    box-shadow: none !important;
    border-color: darken(var(--border-default), 5%) !important;
    background-color: #f8f8f8 !important;
  }
}

/* Style underlined form input elements */
textarea.underline,
select.underline,
input[type="text"].underline,
input[type="password"].underline,
input[type="datetime"].underline,
input[type="datetime-local"].underline,
input[type="date"].underline,
input[type="month"].underline,
input[type="time"].underline,
input[type="week"].underline,
input[type="number"].underline,
input[type="email"].underline,
input[type="url"].underline,
input[type="search"].underline,
input[type="tel"].underline,
input[type="color"].underline {
  background: none !important;
  background-image: none;
  border: 1px solid var(--border-default);
  border-top: none;
  border-left: none;
  border-right: none;
  border-radius: 0 0 0 0 !important;
  color: var(--text-dark);
  font-family: inherit;
  font-size: 14px;
  line-height: 1.2;
  padding: 5px 4px;
  transition: border-color 0.1s;
  box-shadow: none !important;

  &:hover {
    border-color: darken(var(--border-default), 10%);
  }

  &:focus {
    box-shadow: none !important;
    border-color: var(--primary-color) !important;
    background-color: none !important;
  }
}

/* Style disabled form input elements */
textarea[disabled],
input[disabled],
select[disabled] {
  background: var(--light-grey) !important;
  border-color: #f8f8f8 !important;

  &:hover,
  &:focus {
    background: var(--light-grey) !important;
    border-color: #f8f8f8;
  }
}

legend {
  color: inherit;
  font-size: 16px;
  font-weight: 300;
}

.input-group-addon {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: white;
}

select[multiple
