/* ---------------------------------------------------------------------- */
/*  OFF SIDEBAR
/* ---------------------------------------------------------------------- */

.off-sidebar {
  bottom: 0;
  position: fixed;
  right: -$off-sidebar-width;
  top: $header-height - 1;
  transition: all 0.3s ease 0s !important;
  width: $off-sidebar-width;
  z-index: 1091;
  background: $white;
  border-left: 1px solid $border-default;
  border-top: 1px solid $border-default;
  overflow: hidden;
}

.off-sidebar .tab-content-wrapper {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 45px;
}

@media (max-width: $screen-sm-max) {
  .off-sidebar {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 0;
    -webkit-transform: translate3d($off-sidebar-width, 0, 0);
    transform: translate3d($off-sidebar-width, 0, 0);
    transition: transform 300ms ease 0s;
  }
}

.off-sidebar .tab-pane {
  height: 100%;
  padding: 0;
}

.off-sidebar div[perfect-scrollbar] {
  overflow: hidden !important;
}

.off-sidebar .app-mobile div[perfect-scrollbar] {
  overflow-x: hidden !important;
  overflow-y: auto !important;
}

@media (min-width: $screen-md-min) {
  .off-sidebar.app-offsidebar-open {
    right: 0;
  }
}

@media (max-width: $screen-sm-max) {
  .off-sidebar.app-offsidebar-open {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition: transform 300ms ease 0s;
  }
}

.off-sidebar .nav-tabs-wrapper {
  .nav-tabs.nav-justified > li {
    display: table-cell;
    width: 1%;

    &.active > a,
    &.active > a:hover,
    &.active > a:focus {
      border-bottom-color: #fff;
    }

    > a {
      border-bottom: 1px solid $border-default;
      border-right: 1px solid $border-default;
      border-left: none;
      border-radius: 0;
      border-top: none;

      i {
        font-size: $font-size-extra-large;
      }
    }

    &.active > a,
    &.active > a:hover,
    &.active > a:focus {
      color: $darkGrey;
    }

    &:first-child > a {
      border-left: none !important;
    }

    &:last-child > a {
      border-right: none !important;
    }
  }
}

.off-sidebar .save-options {
  padding: 10px;
}

.off-sidebar .sidebar-wrapper {
  position: relative;
  min-height: 100%;
}

.off-sidebar #users {
  position: relative;
  right: 0;
  top: 0;
  height: 100%;

  &.app-offsidebar-open {
    transition: right 0.3s ease 0s;
  }

  &.app-slide-off {
    right: 0 !important;
  }

  &.chat-open {
    right: $off-sidebar-width;
  }

  .user-chat {
    position: relative;
    left: $off-sidebar-width;
    top: 0;
    height: 100%;
  }

  .chat-content {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 50px;
  }
}

.off-sidebar .users-list {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  height: 100%;
}

.off-sidebar .media-list
